.wrapper {
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: large;
  outline: none;
  background: none;
  border: none;
  outline: none;
  transition: 200ms ease;
}

.icon-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
