.card-skeleton {
  height: 150px;
  width: 100%;
  background-color: var(--loading-grey);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  border-radius: var(--skeleton-border-radius);
  animation: 1s var(--skeleton-animation) ease-in-out infinite;
}
