.wrapper {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.image {
  height: 50px;
  width: auto;
  border: 1px solid var(--on-background-color);
  border-radius: 100%;
}
