@import url("./fonts.css");
@import url("./spacing.css");
@import url("./theme.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--on-background-color);
  background: var(--background-color);
}

* {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
