:root {
  --space-unit: 1rem; /* 16px */
  --xxs: calc(0.25 * var(--space-unit)); /* 4px */
  --xs: calc(0.5 * var(--space-unit)); /* 8px */
  --sm: calc(0.75 * var(--space-unit)); /* 12px */
  --md: calc(1.25 * var(--space-unit)); /* 20px */
  --lg: calc(2 * var(--space-unit)); /* 32px */
  --xl: calc(3.25 * var(--space-unit)); /* 52px */
  --xxl: calc(5.25 * var(--space-unit)); /* 84px */
}
