.wrapper {
  padding: 12px;
  margin-bottom: 24px;
  max-width: 750px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: center;
  background: var(--background-secondary-color);
  border-radius: 4px;
}

.input {
  background: none;
  border: none;
  outline: none;
  flex: 1;
}
