.wrapper {
  padding: 24px;
  border-radius: 4px;
  background: var(--background-secondary-color);
  color: var(--on-background-secondary-color);
}

.header {
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--on-background-secondary-title-color);
  font-size: large;
}

.content {
  display: flex;
  flex-direction: column;
}

.content .text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.color-tag {
  margin-top: 24px;
  width: 2ch;
  height: 2ch;
  justify-self: flex-end;
  align-self: flex-end;
  border-radius: 100%;
}
