.wrapper {
  padding: 24px;
  border-radius: 4px;
  background: var(--background-secondary-color);
  color: var(--on-background-secondary-color);
  transition: 500ms ease;
  animation: noteOpen 400ms ease forwards;
}

.wrapper:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header {
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--on-background-secondary-title-color);
  font-size: large;
}

.content {
  display: flex;
  flex-direction: column;
}

.content .text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
}

.card-footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edited {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: small;
}

.color-tag {
  width: 2ch;
  height: 2ch;
  justify-self: flex-end;
  align-self: flex-end;
  border-radius: 100%;
}

@keyframes noteOpen {
  0% {
    transform: translate3d(-4px, -4px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0);
    opacity: 1;
  }
}
